*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
html, body{
    background-image: linear-gradient(135deg, #a759d1 0%, #8261ee 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
}
.container{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
h1{
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2.8rem;
}
p{
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 1.5rem;
}
li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: #64edff;
}
