@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #a759d1 0%, #8261ee 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
}
.my_class{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
h2{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.error{
    font-size: 2.3rem;
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}